    <div class="container">
      <!--エラー文-->
      <% if @user.errors.any? %>
        <p class="failure"><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</p>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li class="error-ms"><%= message %></li>
            <% end %>
          </ul>
      <% end %>
      <!---->
      <div class="row col-xs-2">
        <h2>User info</h2>
        <%= form_with model:@user, local:true do |f| %>
          <div class="form-group">
            <label>Name</label>
            <%= f.text_field :name, class: "col-xs-12"%>
          </div>
          <div class="form-group">
            <label>Image</label>
            <%= f.attachment_field :profile_image, fallback: "no_image.jpg", size: "100×100" %>
          </div>
          <div class="form-group">
            <label>Introduction</label>
            <%= f.text_area :introduction %>
          </div>
          <div class="updateuser-btn">
            <%= f.submit "Update User", class: "btn-warning btn"%>
          </div>
        <% end %>
      </div>


  </div>