<div class="container">
  <div class="row">
    <%= render 'users/list', user: @user, book: @book %>
    <div class="col-xs-9">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th colspan="1"></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <thead>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user.id) do %>
                <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %>
                <% end %>
              </td>
              <td><%= link_to book.title, book_path(book.id) %></td>
              <td><%= book.body %></td>
              <td>
                <% if book.favorited_by?(current_user) %>
                  <li>
                    <%= link_to book_favorites_path(book.id), method: :delete do %>
                      <i class="fas fa-heart"></i>
                      <%= book.favorites.count %>
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to book_favorites_path(book.id), method: :post do %>
                      <i class="far fa-heart"></i>
                      <%= book.favorites.count %>
                    <% end %>
                  </li>
                <% end %>
              </td>
              <td>コメント数：<%= book.book_comments.count %></td>
            </tr>
          <% end %>
        </thead>
      </table>
      </div>
    </div>
</div>